body{
    font-family: sans-serif;
}

p{
    background-color: #5c5c5c;
}

h1{
    background-color: #15ff00;
    
}

h2{
    background-color: #3c39fd;
    margin-top: 60px;
    
}

.destaque {
    background-color: #ff0000;
}
.tamanho {
    width: 50%;
    height: 200px;
}
.espaco-interno {
    padding: 30px;
}

.espaco-externo {
    margin: 50px 0 20px 15px;
}

/*Trabalhando com Border*/
/*Bordas tem width, style e cor*/
/*Podemos definir essas 3 propriedades na mesma linha:*/
.borda {
    /*a propriedade border-style tem varios estilos alem do dotted*/
    /*Os mais conhecidos são:
    none - que é o padrao
    hidden - é quase o mesmo de none, exceto qnd trabalhamos com imagem de fundo.
    dotted - borda pontilhada
    dashed - que são tracejados
    solid - borda solida
    double - borda dupla
    groove - estilo especial
    ridge - estilo especial
    inset - estilo especial
    outset - estilo especial
     */
     
     /*Podemos definir cores, estilos e espessuras,
      independentes como nas outras propriedades do box model*/
    border: 12px dotted #ffffff;
    border-top: 20px dashed #15ff00 ;
    border-top-width: 76px;
}

/*A unica diferença para o border, é que o outline cria uma borda pra fora do elemento.
Enquanto que o border, cria a borda pra dentro do elemento.*/
.outline {
    outline: 15px dashed #008000;
}